.container{
    max-width: 600px;
}

.btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    outline: none !important;
}

.username{
    font-weight: bold;
}

.time{
    font-size: .7em;
    color: 999px;
}

.update-mssg{
    text-align: center;
    margin: 20px auto;
}